doctype html
html(lang="ko")
    head
        title #{pageTitle} - MeTube
        link(rel="stylesheet", href="/static/styles/styles.css")
        link(rel="icon" href="https://www.youtube.com/s/desktop/f73a46b5/img/favicon_32x32.png")
        script(src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous")
        script(src="/static/js/main.js" defer)
        script(src="/static/js/search.js" defer)
        block script
    body
        if messages.info 
            div.message.info=messages.info
        if messages.error 
            div.message.error=messages.error
        include partials/header
        main.w-full.p-10.container.mx-auto.mt-16
            block content
        include partials/footer