extends base

block content   
    if error    
        span=error
    form(method="POST")
        input(name="email" type="email" placeholder="email" required=true) 
        input(name="password" type="password" placeholder="password" required=true)  
        input(type="submit" value="제출")

    div 
        div social login
        a(href="/user/github/start") github