header(class="my-10 flex")     
    a(href="/" class="btn") HOME
    if isLoggedIn
        a(href="/user/logout" class="btn") 로그아웃
        a(href="/user/me" class="btn") 내 정보
        a(href="/video/upload" class="btn") 영상 업로드
        
    else
        a(href="/user/login" class="btn") 로그인
        a(href="/user/create-account" class="btn") 회원가입
